// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.home-bg {
    height:600px;
    background-image:url(../img/Boltic-LAIK11.jpg);
    background-size: cover;
}
.sponsors-container{
    height:200px;
    background-color: $primary;
    display: flex;
    .sponsor{
        background-color: lightblue;
        flex: 1;
        margin: 15px;
        align-content: space-around;
    }
}

/*footer*/
#wrapper-footer{
    background-color: $dark;
    .site-info{
        color: rgb(194, 194, 194);
    }
    .site-footer {
        
        .row {
            div {
                color: #fff;
                width: 100%;
                ul{
                    padding-left: 0;
                }
                li {
                list-style: none;
                    h2{
                        font-weight: 400;
                    }
                }
            }
        }           
    }
}


