$background-main: #606060;
$background-nav: #3a3a3a;
$head-font: 'Pt-Sans', sans-serif;

/*
--------------------------------------
  General
--------------------------------------
*/

html, body, :root {
    background-color: $background-main;
    font-family: $head-font!important;
    font-weight: 400;
    color: #fff;
}

.wrapper {
    background-color: $background-main;
}

.border-top, .border-bottom {
    border-top: 1px solid rgba(153, 153, 153, 0.8)!important;
}

/*
--------------------------------------
  Spelarfakta
--------------------------------------
*/

.spelar-fakta {
    color:white;
}

.spelar-fakta ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.spelar-fakta h1:nth-child(3) {
    width: 73px;
    font-size: 2.5rem;
    background: #2b6cb5;
    /* box-shadow: 0 0 10px #000000ad; */
    border-radius: 45px;
    padding: 10px;
    border: 1px solid;
}

.profil-bild img {
    min-width: 260px!important;
}

/*
--------------------------------------
  Navigation
--------------------------------------
*/

.bg-primary {
    background-color: $background-nav!important;
}

.navbar-collapse {
    // Flyttar navbar åt höger
    justify-content: flex-end;
}

.nav-link{
    color: #cecece;
    font-weight: 400;
    font-size: medium;
}

.nav-link:hover{
    color: #2c6db6;
}



/*
--------------------------------------
  Footer
--------------------------------------
*/
#wrapper-footer{
    background-color: $background-main;
    .site-info{
        color: rgb(194, 194, 194);
    }
    .site-footer {
        
        .row {
            div {
                color: #fff;
                width: 100%;
                ul{
                    padding-left: 0;
                }
                li {
                list-style: none;
                    h2{
                        font-weight: 400;
                    }
                }
            }
        }           
    }
}

