$background-main: #606060;
$background-nav: #3a3a3a;


/*
--------------------------------------
  General
--------------------------------------
*/

html {
    background-color: $background-main;
}

.wrapper {
    background-color: $background-main;
}


/*
--------------------------------------
  Navigation
--------------------------------------
*/

.bg-primary {
    background-color: $background-nav!important;
}

.navbar-collapse {
    // Flyttar navbar åt höger
    justify-content: flex-end;
}

.nav-link{
    color: #cecece;
    font-weight: 400;
    font-size: medium;
}

.nav-link:hover{
    color: #2c6db6;
}



/*
--------------------------------------
  Footer
--------------------------------------
*/
#wrapper-footer{
    background-color: $background-main;
    .site-info{
        color: rgb(194, 194, 194);
    }
    .site-footer {
        
        .row {
            div {
                color: #fff;
                width: 100%;
                ul{
                    padding-left: 0;
                }
                li {
                list-style: none;
                    h2{
                        font-weight: 400;
                    }
                }
            }
        }           
    }
}

