$background-main: #606060;
$background-nav: #3a3a3ae5; // backup color #3a3a3a
$head-font: 'Pt Sans', sans-serif;
$border: 1px solid rgba(153, 153, 153, 0.8)!important;

/*
--------------------------------------
  General
--------------------------------------
*/

html, body, :root, .site {
    background-color: $background-main;
    font-family: $head-font!important;
    font-weight: 400;
    color: #fff;
}

.wrapper {
    background-color: $background-main;
}

.border-top, .border-bottom, .sponsors-container {
    border-top: $border;
}

#content {
    margin-top: 150px;
}

/*
--------------------------------------
  Spelarfakta
--------------------------------------
*/

.col-3 {

    img {
        width: 100%;
        border-radius: .3rem;
        transition: all .3s ease;
    }
}

.col-3:hover {

    img{
        // box-shadow: 0 0 0.6rem #0000006b;
        -webkit-filter: drop-shadow(0 0 5px #222 );
        filter: drop-shadow(0 0 5px #222);
        transform: scale(1.02);
    }

    .spelar-namn {
        transform: scale(1.02);
    }
}

.spelar-stats {
    width: 100%;
}

#alla-spelare .page-header {
    border-bottom: $border;
    text-align: center;
    margin-bottom: 2rem;
}

#alla-spelare{
        
    span {

        a {
            color: #fff;
        }
    }
}

.spelar-fakta {
    color:white;
}

.spelar-fakta ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.spelar-fakta h1:nth-child(3) {
    width: 73px;
    font-size: 2.5rem;
    background: #2b6cb5;
    border-radius: 45px;
    padding: 10px;
    border: 1px solid;
}

// spelare - sidebar

#sidebar-one {
    border-left: $border;
    li {
        list-style: none;
        a {
            color: #fff;
            transition: all .2s ease;
        }
        a:hover {
            text-decoration: none!important;
            margin-left: .1rem;
            color: #ecd000;
        }
        h2 {
            border-bottom: $border;
            padding-bottom: 1rem;
        }
        ul {
            padding: 0;
            .current-menu-item {
                font-size: 1.4rem!important;
                font-weight: bold;
                a {
                    color: #ecde00;
                }
            }
            .current-menu-item:before {
                content: '\2023';
                position: absolute;
                left: 0;
                color: #ecde00;
            }

        }
    }    
}  

/*
--------------------------------------
  Slider - historik
--------------------------------------
*/

.wpostahs-slider-design-2 .wpostahs-slider-nav .slick-current .wpostahs-main-title button {
    border-color: #edd000;
    background: #036cb5;
}

.wpostahs-slider-design-2 .wpostahs-slider-nav .slick-current {
    font-size: 2rem;
    color: #ecd000;
}

.wpostahs-slider-design-2 .wpostahs-slider-nav-title .wpostahs-main-title {
    top: 18px;
}

/*
--------------------------------------
  Navigation
--------------------------------------
*/

.bg-primary {
    background-color: $background-nav!important;
}

.navbar-collapse {
    // Flyttar navbar åt höger
    justify-content: flex-end;
}

.nav-link{
    color: #cecece;
    font-weight: 400;
    font-size: large; //medium
}

.nav-link:hover{
    color: #2c6db6;
}



/*
--------------------------------------
  Footer
--------------------------------------
*/


// slider sponsorerna

.wpls-fix-box{
    background-color: #fff;
    border-radius: .3rem;
    img{
        min-height: 150px;
        padding: 1.6rem!important;
    }
}
// slider slut

.sponsors-container
 {
    background-color: $background-main;
    .sponsor {
         background-color: #fff;
    }

}


#wrapper-footer{
    background-color: $background-main;
    .site-info{
        color: rgb(194, 194, 194);
    }
    .site-footer {
        
        .row {
            div {
                color: #fff;
                width: 100%;
                ul{
                    padding-left: 0;
                }
                li {
                list-style: none;
                    h2{
                        font-weight: 400;
                    }
                }
            }
        }           
    }
}

