/*****************
Bli-medlem
*******************/

.color-vardegrund {
    background-color:#036cb5 ;
    border-radius: .3rem;
}

.wp-block-column {
    border-radius: .3rem;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #036cb5;
}

/*************************************
Nyhetsflödet
***************************************/

/*.plugin-box {
    border: 5px solid black;
    height: auto;
    width: 30vw;
}*/ 

article {
    margin-bottom: 1.5em;
        .understrap-read-more-link {
            display: none;
        }
    }
/*****************************
Enskild nyhet
******************************/
.single-nyhet {
    color: white;
    background-color: #036cb5;
    border-radius: .3rem;

    .entry-header {
        h1 {
            color: white;
        }
        text-align: center;
    }

    .single-nyhet-bild {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5em;
        margin-top: 1em;
    }

    .entry-content {
        text-align: center;
    }
}

#comments { //Tar bort möjlighet att kommentera
    display: none;
}

/*********************
Flyttar ned innehåll på sidor så de ej försvinner under menyn
**********************/
/*.wrapper {
    padding-top: 4em;
}*/
