/*****************
Bli-medlem
*******************/
.wp-block-column {
    border: 1px solid black;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

/*************************************
Nyhetsflödet
***************************************/
article {
    margin-bottom: 1.5em;

    .nyhets-wrapper {
        color: black;
        background-color: white;

        .entry-header {
            background-color: rgba(255, 255, 0, 0.5);
            text-align: center;
        }
        .understrap-read-more-link {
            display: none;
        }
    }
   
}
/*****************************
Enskild nyhet
******************************/
.single-nyhet {
    color: white;

    .entry-header {
        h1 {
            color: white;
        }
        text-align: center;
    }

    .single-nyhet-bild {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5em;
        margin-top: 1em;
    }
}

#comments { //Tar bort möjlighet att kommentera
    display: none;
}
